.day-clear {
  background-image: url("images/clear.jpg");
}

.day-clouds {
  background-image: url("images/clouds.jpg");
}

.day-rain {
  background-image: url("images/rain.jpg");
}

.mist {
  background-image: url("images/mist.jpg");
}

.night-clear {
  background-image: url("images/clear.jpg");
}

.night-clouds {
  background-image: url("images/clouds.jpg");
}

.night-rain {
  background-image: url("images/rain.jpg");
}

.snow {
  background-image: url("images/snow.jpg");
}

.storm {
  background-image: url("images/storm.jpg");
}
